/* You can add global styles to this file, and also import other style files */

:root {
    --min-container-height: 100vh;

    /* margins */
    --base-padding: 1em;
    --base-margin-sides: 12%;
    --large-margin-sides: 24%;


    /* colors */

    /** Greek flag colors*/
    --greek-blue: #0D5EAF;
    --greek-white: #ffffff;


    /* Break Mobile Specifications */
    --width-breakpoint: 1250px:
}

body {
    margin: 0;
}

.vacation-container {
    min-height: var(--min-container-height);
}